*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f9;
  font-family: 'Poppins', sans-serif;
}

.centered {
  width: max-content;
  margin: 0 auto;
}

.form__heading {
  font-size: 2rem;
}

.form__error {
  color: red;
}

.table__heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.table {
  background-color: #f3f4f6;
  border-collapse: collapse;
  border: 1px solid #9ca3af;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table td,
.table th {
  padding: 5px 15px;
  text-align: center;
  border: 1px solid #9ca3af;
}

.table td {
  color: #262626;
}

.table tr:nth-child(odd) {
  background-color: #d1d5db !important; /* Background color for odd rows */
}
