*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f9;
  font-family: 'Poppins', sans-serif;
}

.centered {
  width: max-content;
  margin: 0 auto;
}

.form__heading {
  font-size: 2rem;
}

.form__error {
  color: red;
}

.table__heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.table {
  border-collapse: collapse;
  border: 1px solid black;
}

.table td,
.table th {
  padding: 5px 10px;
  border: 1px solid black;
}
